<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="{{ asset('assets/img/code.png') }}" type="image/png">

    <!--Link to Css-->
    <link rel="stylesheet" href="{{ asset('assets/css/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <script src="https://kit.fontawesome.com/8d9a94d7ba.js" crossorigin="anonymous"></script>

    <title>Onur Omer</title>
</head>
<body>
<!-- =============START NAV============-->
    <nav>
        <div class="container nav__container">
            <a href="#" class="nav__logo">
                <img src="{{ asset('assets/img/code.png') }}" alt="Navbar Logo">
            </a>
            <ul class="nav__menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="nav__buttons">
                <button class="nav__theme-btn"><i class="fa-solid fa-moon"></i></button>
                <button class="nav__toogle-open"><i class="fa-solid fa-bars"></i></button>
                <button class="nav__toogle-close"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </nav>
<!-- =============END OF NAV============-->

<!-- =============START OF HEADER============-->
    <header>
        <div class="container header__container">
            <article class="header__image">
                <div><img src="{{ asset('assets/img/omer.png') }}" alt="Header Image"></div>
            </article>
            <article class="header__content">
                <h4>Merhaba, Ben <span>Onur Ömer ŞAHİN</span></h4>
                <h1>İşinizi doğru yoldan internete taşıyın</h1>
                <p>İşletmenizi çevrimiçi hale getirmek için profesyonel bir geliştirici mi arıyorsunuz? Doğru yere geldiniz. </p>
                <div class="header__cta">
                    <a href="#contact" class="btn primary">Bana Ulaş</a>
                    <a href="#projects" class="btn primary">Projeler</a>
                </div>
            </article>
            <ul class="header__social">
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://linknedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </header>

<!-- =============END OF HEADER============-->


<!-- JQuery Link -->
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<!-- Link to Js -->
<script src="{{ asset('assets/js/main.js') }}"></script>
</body>
</html>