<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="{{ asset('assets/img/code.png') }}" type="image/png">

    <!--Link to Css-->
    <link rel="stylesheet" href="{{ asset('assets/css/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <script src="https://kit.fontawesome.com/8d9a94d7ba.js" crossorigin="anonymous"></script>

    <title>Onur Omer</title>
</head>
<body>
<!-- =============START NAV============-->
    <nav>
        <div class="container nav__container">
            <a href="#" class="nav__logo">
                <img src="{{ asset('assets/img/code.png') }}" alt="Navbar Logo">
            </a>
            <ul class="nav__menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="nav__buttons">
                <button class="nav__theme-btn"><i class="fa-regular fa-moon"></i></button>
                <button class="nav__toogle-open"><i class="fa-solid fa-bars"></i></button>
                <button class="nav__toogle-close"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </nav>
<!-- =============END OF NAV============-->

<!-- =============START OF HEADER============-->
    <header id="home">
        <div class="container header__container">
            <article class="header__image">
                <div><img src="{{ asset('assets/img/omer_homepage.png') }}" alt="Header Image"></div>
            </article>
            <article class="header__content">
                <h4>Merhaba, Ben <span>Onur Ömer ŞAHİN</span></h4>
                <h1>İşinizi doğru yoldan internete taşıyın</h1>
                <p>İşletmenizi çevrimiçi hale getirmek için profesyonel bir geliştirici mi arıyorsunuz? Doğru yere geldiniz. </p>
                <div class="header__cta">
                    <a href="#contact" class="btn primary">Bana Ulaş</a>
                    <a href="#projects" class="btn primary">Projeler</a>
                </div>
            </article>
            <ul class="header__social">
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </header>

<!-- =============END OF HEADER============-->

<!-- =============START OF ABOUT============-->

    <section class="about" id="about">
        <div class="container about__container">
            <div class="about__image">
                <img src="{{ asset('assets/img/omer.png') }}" alt="About Image">
            </div>
            <div class="about__details">
                <h1>Hakkımda</h1>
                <div class="about__cards">
                    <article class="about__card">
                        <i class="fa-solid fa-award"></i>
                        <h4>Deneyim</h4>
                        <small>3+ yıl</small>
                    </article>
                    <article class="about__card">
                        <i class="fa-solid fa-swatchbook"></i>
                        <h4>Projeler</h4>
                        <small>1+ tamamlandı</small>
                    </article>
                    <article class="about__card">
                        <i class="fa-solid fa-users"></i>
                        <h4>Müşteri</h4>
                        <small>0+ müşteri</small>
                    </article>
                </div>
                <p>Müşterilerimin sevdiği projeleri inşa etmek her zaman benim tutkum olmuştur. 3 yılı aşkın bir süredir web geliştirme endüstrisinde olmak ve birçok mutlu müşteriye hizmet etmek, her zaman daha fazlasını yapmak için motive oluyorum!</p>
                <p>Merhaba ben Kocaeli'den Onur Ömer ŞAHİN. Ben bir web geliştiricisiyim. En büyük önceliğim, işletmenizi doğru şekilde çevrimiçi ortama taşıyarak size endüstri standardı tasarım ve çevrimiçi sorunsuz bir şekilde çalışmak için ihtiyaç duyduğunuz tüm işlevleri sunmaktır. Projenizin detayları ile bugün iletişime geçin, başlayalım.</p>
                <a href="" class="btn primary" download target="_blank"><i class="fa-solid fa-download"></i> CV indir</a>
            </div>
        </div>
    </section>

<!-- =============END OF ABOUT============-->

<!-- =============START OF SERVICES============-->
    <section class="services" id="services">
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel egestas dolor, nec dignissim metus.</p>
        <div class="container services__container">
            <ul class="services__left">
                <li class="service__item backend active">
                    <span><i class="fa-solid fa-database"></i></span>
                    <div>
                        <h3>Backend</h3>
                        <p>2 Projects</p>
                    </div>
                </li>
                <li class="service__item fullstack">
                    <span><i class="fa-solid fa-server"></i></span>
                    <div>
                        <h3>FullStack</h3>
                        <p>2 Projects</p>
                    </div>
                </li>
            </ul>
            <article class="services__right">
            </article>
        </div>
    </section>
<!-- =============END OF SERVICES============-->

<!-- =============START OF PROJECTS============-->
    <section class="projects" id="projects">
        <h1>Son Projeler</h1>
        <p>Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz</p>
        <ul class="projects__categories">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".backend">Backend</li>
            <li data-filter=".fullstack">Fullstack</li>
        </ul>
        <div class="container projects__container">
            <article class="project mix fullstack" data-order="1">
                <div class="project__image">
                    <img src="{{ asset('assets/img/project1.jpg') }}" alt="Project Image One">
                </div>
                <h3>Birinci Proje Başlığı (Fullstack)</h3>
                <p>Lorem Ipsum pasajlarının birçok çeşitlemesi vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya rastgele sözcükler eklenerek değiştirilmişlerdir.</p>
                <div class="project__cta">
                    <a href="#" class="btn sm primary" target="_blank">Demo</a>
                    <a href="http://github.com" class="btn sm" target="_blank">Github</a>
                </div>
            </article>
            <article class="project mix backend" data-order="2">
                <div class="project__image">
                    <img src="{{ asset('assets/img/project2.jpg') }}" alt="Project Image One">
                </div>
                <h3>İkinci Proje Başlığı (Backend)</h3>
                <p>Lorem Ipsum pasajlarının birçok çeşitlemesi vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya rastgele sözcükler eklenerek değiştirilmişlerdir.</p>
                <div class="project__cta">
                    <a href="#" class="btn sm primary" target="_blank">Demo</a>
                    <a href="http://github.com" class="btn sm" target="_blank">Github</a>
                </div>
            </article>
            <article class="project mix fullstack" data-order="3">
                <div class="project__image">
                    <img src="{{ asset('assets/img/project1.jpg') }}" alt="Project Image One">
                </div>
                <h3>Üçüncü Proje Başlığı (Fullstack)</h3>
                <p>Lorem Ipsum pasajlarının birçok çeşitlemesi vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya rastgele sözcükler eklenerek değiştirilmişlerdir.</p>
                <div class="project__cta">
                    <a href="#" class="btn sm primary" target="_blank">Demo</a>
                    <a href="http://github.com" class="btn sm" target="_blank">Github</a>
                </div>
            </article>
            <article class="project mix backend" data-order="4">
                <div class="project__image">
                    <img src="{{ asset('assets/img/project2.jpg') }}" alt="Project Image One">
                </div>
                <h3>Dördüncü Proje Başlığı (Backend)</h3>
                <p>Lorem Ipsum pasajlarının birçok çeşitlemesi vardır. Ancak bunların büyük bir çoğunluğu mizah katılarak veya rastgele sözcükler eklenerek değiştirilmişlerdir.</p>
                <div class="project__cta">
                    <a href="#" class="btn sm primary" target="_blank">Demo</a>
                    <a href="http://github.com" class="btn sm" target="_blank">Github</a>
                </div>
            </article>
        </div>
    </section>
<!-- =============END OF PROJECTS============-->

<!-- =============START OF CONTACTS============-->
    <section class="contact" id="contact">
        <div class="container contact__container">
        </div>
    </section>
<!-- =============END OF CONTACTS============-->


<!-- JQuery Link -->
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<!-- Link to Js -->
<script src="{{ asset('assets/js/mixitup.min.js') }}"></script>
<script src="{{ asset('assets/js/data.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
</body>
</html>